$manrope-font-path: "./Manrope";

@font-face {
  font-family: "Manrope";
  src: url(#{$manrope-font-path}/Manrope-ExtraLight.woff) format("truetype"),
    url(#{$manrope-font-path}/Manrope-ExtraLight.woff2) format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url(#{$manrope-font-path}/Manrope-Light.woff) format("truetype"),
    url(#{$manrope-font-path}/Manrope-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url(#{$manrope-font-path}/Manrope-Regular.woff) format("truetype"),
    url(#{$manrope-font-path}/Manrope-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url(#{$manrope-font-path}/Manrope-Medium.woff) format("truetype"),
    url(#{$manrope-font-path}/Manrope-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url(#{$manrope-font-path}/Manrope-SemiBold.woff) format("truetype"),
    url(#{$manrope-font-path}/Manrope-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url(#{$manrope-font-path}/Manrope-Bold.woff) format("truetype"),
    url(#{$manrope-font-path}/Manrope-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url(#{$manrope-font-path}/Manrope-ExtraBold.woff) format("truetype"),
    url(#{$manrope-font-path}/Manrope-ExtraBold.woff2) format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
